<new-page-background></new-page-background>
<div id="container">
  <div id="heading">
    <img src="assets/logo.svg" alt="Logo" class="logo" style="width: 3rem; height: 3rem;">
    <h1>{{ 'app.title' | translate }}</h1>
    <div class="header-controls">
      <new-page-app-language-switcher></new-page-app-language-switcher>
      <button (click)="openBackgroundSettings()" style="width: 120px; height: 40px; margin-left: 10px;" title="Background Settings">
        <i class="fas fa-paint-brush"></i>
        Background
      </button>
      <button (click)="toggleEditMode()" style="width: 100px; height: 40px; margin-left: 10px;">
        <i [class]="editMode ? 'fas fa-save' : 'fas fa-cog'"></i>
        {{ editMode ? ('app.save' | translate) : ('app.edit' | translate) }}
      </button>
    </div>
  </div>
  <new-page-tiles-container [editMode]="editMode"></new-page-tiles-container>
</div>
